<html>

<head>
    <title>Uttara Insurance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/public/css/hotel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/public/css/slick-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
</head>

<body style="background-color:transparent">
    <nav class="navbar-fixed-top"
        style="background-color:teal; position: fixed; z-index: 1;box-shadow: none; width: 100%;margin: none;padding: none;"
        id="nav">
        <div>
            <ul class="right">

                <li><a href="/userDashboard" id="about" class="navlinkss"><strong>About</strong></a></li>
                <li><a href="/booker" class="navlinkss"><strong>My Plans</strong></a></li>
                <li><a href="/Room" class="navlinkss"><strong>View Plans</strong></a></li>
                <li><a href="/logout" id="logout" class="navlinkss"><strong>Logout</strong></a></li>
                <li><a href="/userDashboard" id="contact" class="navlinkss"><strong>Contact Us</strong></a></li>

            </ul>
        </div>
    </nav>
    <!--Scripts-->