<link rel="stylesheet" type="text/css" href="/public/css/hotel.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/slick.css">
            <link rel="stylesheet" type="text/css" href="/public/css/slick-theme.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
/*---------------------------------------
  Contact section              
-----------------------------------------*/

.contact-info .fa {
  padding-right: 5px;
}

#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #2b2b2b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #7682cc;
  color: #ffffff;
}


</style>
<!-- CONTACT SECTION -->
<body style="background-color:transparent">
          <nav style="margin-bottom:5px;color:black;background-color:rebeccapurple; position: fixed; z-index: 1;box-shadow: none; width: 100%;margin: none;padding: none;" id="nav">
                <div>
                     <ul class="right">
                               
                                    <li ><a href="/" id="about" class="navlinkss"><strong>About</strong></a></li>
                                    <li ><a href="/register" id="signup" class="navlinkss"><strong>User Login</strong></a></li>
                                    <li><a href="/agentRegister" id="signup" class="navlinkss"><strong>Agent Login</strong></a></li>				
                          
                          
                          <li ><a href="/contact" id="contact" class="navlinkss"><strong>Contact Us</strong></a></li>
                          
                     </ul>
                </div>
          </nav>
          <br><br><br><br>
<section id="contact" class="parallax-section">
     <div class="container">
          <div class="row">


               <div class="col-md-7 col-sm-10">
                    <!-- CONTACT FORM HERE -->
                    <div class="section-title">
                              <h2>Contact Info</h2>
                              <p>For any policy related grievance, please feel free to contact our Grievance Redressal Officers at Branch / Division / Zonal / Corporate Level.
                                        Toll free no. 18004259876 for Health Insurance policies from 10 AM to 5 PM on all working days
                                        Our trained executive will talk to you.
                              </p>
                         </div>
                         
                         <p><i class="fa fa-map-marker"></i> 456 New Street 22000, Vellore, Tamil Nadu</p>
                         <p><i class="fa fa-comment"></i> <a href="mailto:info@company.com">info@company.com</a></p>
                         <p><i class="fa fa-phone"></i> 56767877</p>
                    </div>
               </div>

          </div>
     </div>
</section>
</body>